panda/services/OAI_CONFIG_LIST
tmp/*
*.png
.cache/*
.mypy_cache/*
data_record/*
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib


# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum
.idea
# env file
.env

# cov
.coverage

# cache
__pycache__/
.pytest_cache

.vscode/

arweave-key.json

# log
logs/
*.log
data_record/

teleAgent/topics/

.dump/